:root {
	--standard-text-color: rgba(50, 50, 50, 1);
	--system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, "Helvetica Neue", sans-serif;
}

body {
	font-size: 16px;
	font-family: var(--system-font-stack);
	color: var(--standard-text-color);
}
